<footer>
    <div class="f-info sticky-bottom" >
        <div class="f-info-social">
            <i class="fa-brands fa-instagram fa-2xl" style="color: #f20d0d;"></i>
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #1a2d78;"></i>
            <i class="fa-brands fa-youtube fa-2xl" style="color: #f20d0d;"></i>
        </div>
        <div class="f-info-brand"> &copy; College CLub Hub</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/scoail">Social</a>
        </div>
    </div>
</footer>