<% layout('/layouts/boilerplate') -%>
<body style="background-color: white;">
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
      <div class="img" style="background-color: white;">
        <img 
          src="https://i.pinimg.com/736x/21/61/ce/2161ce1698ee64e1d773704f83715d7b.jpg" 
          alt="404 Page Not Found" 
          style="mix-blend-mode: multiply; background-color: white;" />
      </div>
    </div>
  </body>
  