<% layout("/layouts/boilerplate") -%>

<body>
    <div class="container mt-4">
        <h1>Clubs</h1>
        <div class="row row-cols-2 row-cols-md-3 g-4">
            <% for (let Club of data) { %>
                <div class="col">
                    <a href="/college-club/<%= Club._id %>">
                        <div class="square-card">
                            <img src="<%= Club.clubLogo %>" alt="Club Logo">
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
    </div>
</body>