.main {
    display: flex;
    flex-direction: column;

}

.basicinfo {
    /* display: grid;
    grid-template-columns: 55% 45%; /* First div 30%, second div 70% */
    /* align-items: stretch;
    margin: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 45rem;
    height: auto;
    /* padding: 2rem; */
    margin: 4rem 0 5rem 0;
    background: #f5f5f5
}

.info h1 {
    font-size: 4.5rem;
    text-align: center;
}

.desc p {
    font-size: 1.6rem;
    text-align: justify;
}

.vision,
.mission ul li {
    text-align: justify;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .info h1 {
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .desc p {
        font-size: 1.2rem;
        text-align: justify;
    }

    .vision,
    .mission ul li {
        text-align: justify;
    }
}

.sociallinks {
    text-align: center;
    justify-content: center;
}

.desc h1 {
    text-align: center;
}

.members {
    gap: 5rem;
    justify-content: space-evenly;
}

/* 
members details */

.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.profile-card {
    position: relative;
    overflow: hidden;
    width: 250px;
    /* or whatever your width is */
    border-radius: 15px;
    cursor: pointer;
}

.profile-card img {
    width: 100%;
    height: 24rem;
    display: block;
    border-radius: 15px;
}

/* The overlay */
.info-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* Half of the profile card */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(8px);
    /* Safari support */
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-card:hover .info-overlay {
    opacity: 1;
    /* transform: translateY(0); */
    transform: scale(1.1);
    transition: all 0.1s;
}

.profile-card .icon {
    margin: 1.5rem;
}

/* domains hover */

.text-center img {
    width: 100%;
    height: auto;
    /* object-fit: cover;    */
    border-radius: 1rem;
}

.text-center h3 {
    background-color: rgb(255, 255, 255);
}

.text-center:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
    opacity: 0.8;
}


.member-name {
    font-size: 30px;
    gap: 0.7rem;
    text-align: center;
}


.domains {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem
}


/* Photogallary style */
.carde {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(196, 118, 118, 0.1);
    overflow: hidden;
    width: 500px;
    transition: transform 0.3s ease;
}

.carde:hover {
    /* transform: translateY(15px); */
    transform: scale(1.1);
    background-color: #fffefe;
    transition: transform 0.5s ease-in-out;

}