.event-container{
    width: 80%;
    padding-top:3em;
    margin-left: 5em;
}

.btn{
    border: none;
    padding: 10px 20px;
    background-color:#1b998b;
    color: white;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
}