.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    vertical-align: middle;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-top: 20px;
    /* position:fixed;
    bottom:0px;
    width:100%; */
}

.f-info-social,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i{
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.f-info-links{
    width: 100%;
    text-align: center;
}

.fa-brands{
    transition: transform 0.3 ease,box-shadow 0.3 ease;
}

.fa-brands:hover{
    transform:scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}