*{
    font-size: 1.2rem;
}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img{
    margin-top: 20px;
    border-radius: 10px;
}


/* ------offline Event ----- */

h1{
    margin-bottom: 20px;
}

.offline-event{
    margin-top: 40px;
}

/*----online Event------*/

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.online-event{
    margin-top: 40px;
}


/* ----clubs logo -------*/
.square-card {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.square-card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.square-card img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    padding: 10px; 
    mix-blend-mode: multiply;
    background-color: transparent;
}

