*{
    font-size: 1.2rem;
}

body{
    background-color: rgb(48, 43, 43);
    color: white;
}

.container{
    padding-top: 1.5em;
}

.img-container{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.home-img{
    margin-top: 20px;
    border-radius: 10px;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.home-text{
    position: absolute;
    top: 50%;
    left: 3%;
}

.home-text button{
    padding: 0.5em;
    border-radius: 2em;
    border: none;
    background-color:#1B998B;
    color: white;
    padding: 15px 40px;
    transition: transform 0.3s ease ;
}

.home-text button:hover{
    transform: scale(0.8);
}

.home-img-container {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: auto;
}




/* ------offline Event ----- */

h1{
    margin-bottom: 20px;
}

.offline-event{
    margin-top: 40px;
}

/*----online Event------*/

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.online-event{
    margin-top: 40px;
}


/* ----clubs logo -------*/
.square-card {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.square-card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.square-card img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    padding: 10px; 
    mix-blend-mode: multiply;
    background-color: transparent;
}

