.navbar-nav .nav-link {
    color: white !important; 
    font-weight: 600; 
}

.navbar-nav{
    display: flex;
    gap: 1.5em;
}

.navbar-brand{
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.navbar-brand:hover{
    transform: scale(1.1);
}

.navbar-nav{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    /* backdrop-filter: blur(5px); */
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container-fluid{
    width: 50%;
    border-radius: 20em;
    background-color:#1b998b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav-item{
    transition: transform 0.3s ease;
}

.nav-item:hover{
    transform: scale(1.1);
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: #0d6efd;
}

.navbar-brand img {
    border-radius: 10px;
}


@media (max-width:768px) {
    .container-fluid{
        width: 20em;
        height: auto;
        border-radius: 10px;
    }
}